# ==========================================
# Application Specific
# ==========================================
# Outputs and inputs
results/
data/outputs/
Videos/
data/inputs/

# YOLO Models
models/*.pt
*.pt

# Runtime Data, Logs & Cache
data/summary_cache.json
data/history.json
data/settings.json
data/runtime_logs.json

# ==========================================
# Python Standard
# ==========================================
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/

# Build and Distribution
build/
dist/
*.egg-info/
*.spec

# ==========================================
# IDEs & OS Files
# ==========================================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ==========================================
# Notebooks
# ==========================================
.ipynb_checkpoints/
